body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  
}

#wrapper{
    display: flex;
}

#controll-block{
    flex: 3;
    padding: 50px;
}

#camera-block{
  flex: 4;
  display: block;
  align-items: stretch;
  margin-bottom: 20px;
  width: 100%;
  max-width: 700px;
  height: 250px;
  position: relative;
}

#robot-control{
    flex: 3;
}

h1 {
  margin-bottom: 20px;
}

#camera {
  width: 300px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 8px;
}

.camera-box{
    display: flex;
    flex: 1;
    padding: 10px;
}

.button-group {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 0px;
  gap:10px;
  width: 100px;
  height: 40px;
  z-index: 10;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

.isEnabled{
  display: flex;
}

#enable-orca_00, #enable-orca_01, #enable-orca_02{
  background-color: rgba(255, 0, 0, 0.6); 
  border-radius: 5px;
}

#disable-orca_00, #disable-orca_01, #disable-orca_02{
  background-color: rgba(46, 125, 228, 0.7);
  border-radius: 5px;
}

#manual-bg-button{
  background-color: #60f760;
}

#auto-bg-button{
  background-color: #3c3cfc;
}

.camera-box video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.is-enable {
  width: 550px;
  display: flex;
  font-size: 20px;
  padding-left: 30px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.is-enable.manual {
  background-color: rgba(63, 218, 55, 0.349);
}

.is-enable.auto {
  background-color: rgba(43, 128, 255, 0.301);
}